{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'patron/css/styles.css' %}">
  <title>Image Loader</title>
</head>

<body>
<div class="container">
  <h4>Add Label</h4>
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="text-field">Add new label</label>
        <input type="text" name="text" class="form-control form-control-sm" id="text-field" placeholder="Text">
      </div>
    </div>
    <div class="col-1">
      <button class="btn btn-primary btn-sm mt-fix-25" id="add-label">Add</button>
    </div>
  </div>
  <img src="/media/images/{{ image }}" alt="uploaded-image" id="image">
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="{% static 'patron/scripts/patron.js' %}"></script>

<script>
  var counter = 0;
  function addNewLabel() {
    var labelField = $('#text-field');
    var label = labelField.val();
    labelField.val("");
    var textLabel = '<div class="drag-item" id="drag-item-' + counter + '">' +
        '<div>' +
          '<span class="drag-btn" id="drag-item-' + counter + '-handle"><i class="fa fa-arrows text-success" aria-hidden="true"></i></span>' +
          '<span class="apply-btn"><i class="fa fa-check text-success" aria-hidden="true"></i></span>' +
        '</div>' +
        '<div class="drag-text">' + label + '</div>' +
      '</div>';
    $('.container').append(textLabel);
    dragElement("drag-item-" + counter);
    counter++;
  }
</script>

</body>
</html>