{% extends 'patron/base.html' %}

{% load static %}
{% block title %}Image Loader{% endblock %}
{% block body %}
<div class="container">
  <h3>Load new image</h3>
  <form method="post" action="{% url 'patron' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for="image-file">Select the image</label>
          <input type="file" name="image-file" class="form-control-file" id="image-file">
        </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <label for="data-file">Select data file(*.xls format)</label>
          <input type="file" name="data-file" class="form-control-file" id="data-file">
        </div>
      </div>
      <div class="col-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

  <div class="clear-fix-medium"></div>
  <div>
    <h3>Previous uploads</h3>
    <table>
      <tbody>
        {% for image in images %}
        <tr>
          <td><a href="{% url 'image_view' image.id %}">{{ image.name }} - {{ image.data.name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}