html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    height: auto;
    max-height: 100vh;
    max-width: 100%;
}

.container {
    padding: 0;
}

.clear-fix-medium {
    margin-top: 50px;
}

.mt-fix-25 {
    margin-top: 28px;
}

.drag-item {
    position: absolute;
    margin-top: 10px;
    border: solid 1px rgba(211, 211, 211, 0.2);
    padding: 5px 3px 3px 3px;
    display: inline-block;
    background-color: rgba(211, 211, 211, 0.2);
}

.drag-item:hover {
    border: solid 1px rgba(211, 211, 211, 1.0);
    background-color: rgba(211, 211, 211, 1.0);
}

.drag-btn, .apply-btn, .drag-text {
    padding: 3px 5px;
    border: solid 1px lightgrey;
}

.drag-btn {
    cursor: move;
}

.drag-text {
    margin-top: 5px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
}